.tab_shop{
  border:1px solid #333;
  background-color:#f1f1f1;
  border-radius:5px;
  padding:16px;
}
.image{
  width: 140px;
  height: 100px;
}
.contner{
  width:800px;
}
.bg-footer {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  /*.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }*/
.bg{
  background-color: #080808;
}
